<div class='about'>
  <div class='description'>
    <p>My name is John. Originally from <span>Seattle</span>, I came to <span>San Francisco</span> to work in tech. After an undergraduate in  <span>Philosophy & Literature</span> I worked as an enrollment professional. Before settling on a career path, I spent a few years <span><a href='http://www.annotate.life' id='travel-link' data-toggle='tooltip' target='_blank' data-placement='top' title='www.annotate.life'>traveling the world</a></span>. Along the way, I taught myself how to <span data-toggle='tooltip' data-placement='top' title='hey!'>program</span>.</p>
  </div>
  <div class='about-tag'>
    <p>To learn more about me, find me <a href='#' data-link-target='#contact'>online.</a></p>
  </div>
</div>