<div class='about'>
  <div class='description'>
    <p>My name is John. After graduating with an undergrad in <span>Philosphy & Literature</span>, I was still undecided on a career path. After working as an enrollment counselor at my alma mater, I spent three years <span>traveling around the world</span>. Along the way, I taught myself how to <span>program</span>.</p>
    <p>As a developer, I am motivated by <span>working in teams</span> to tackle challenging problems. From building databases and <span>optimized API's</span> to using front-end MVC frameworks to build <span>beautiful websites</span>, I am comfortable on both sides of the stack. I love <span>pair programming</span> and focus on clear communication, both in my code and with my coworkers.</p>
  </div>
  <div class='about-tag'>
    <p>To learn more about me, find me <a href='#' data-link-target='#contact'>online.</a></p>
  </div>
</div>
