<div class='sidebar-title'>
  <a href='#' 
     class='no-link' 
     data-link-target=".title-wrapper">John Mahowald</a>
</div>

<div class='profile-img-wrapper'>
  <%= image_tag("profile.png", class: 'profile-img') %>
</div>

<div class='sidebar-navigation'>
  <ul class="nav">
    <li>
      <a href="#" 
         data-link-target='#projects'>Projects</a>

      <ul class="nav sub-menu" id="projects-sub">
        <li><a href="#" data-link-target="#annotate_life">Annotate</a></li>
        <li><a href="#" data-link-target="#taskwise">Taskwise</a></li>
        <li><a href="#" data-link-target="#ruby_on_sails">Ruby on Sails</a></li>
        <li><a href="#" data-link-target="#node_chat_room">Node Chat Room</a></li>
        <li><a href='#' data-link-target="#asteroids">Asteroids</a></li>
      </ul>
    </li>                
    <li><a href="#" data-link-target='#skills'>Skills</a></li>
    <li><a href="#" data-link-target='#about'>About</a></li>
    <li><a href="#" data-link-target='#contact'>Contact</a></li>
  </ul>
</div>