<div class='profile-img-wrapper'>
  <div class='profile-img'>
  </div>
</div>

<ul class="nav">
  <li class="active">
    <a href="#projects"
       data-toggle='collapse' 
       data-target="#projects-sub">Projects</a>

    <ul class="nav collapse sub-menu" id="projects-sub">
      <li><a href="#">Annotate</a></li>
      <li><a href="#">Rails on Sails</a></li>
      <li><a href="#">Active Association</a></li>
      <li><a href="#">Node Chat Room</a></li>
      <li><a href="#">Saidit</a></li>
      
    </ul>
  </li>                
  <li><a href="#" data-link-target='#skills'>Skills</a></li>
  <li><a href="#" data-link-target='#about'>About</a></li>
  <li><a href="#" data-link-target='#contact'>Contact</a></li>   
</ul>