<div class='main-section' id="title">
  <div class='fader'>
    <div class='title-wrapper'>
      <h1><a href='http://www.johnmahowald.com'>John Mahowald</a></h1>
      <h2>Web Developer</h2>
    </div>
  
    <div class='main-nav-wrapper'>
      <div class='main-nav-down'>
        <a href='#' data-link-target='#projects'><span class='glyphicon glyphicon-chevron-down'></span></a>
      </div>
    </div>
  </div>
</div>