<div class='main-section' id="title" data-stellar-background-ratio="0.5">
  <div class="background"></div>
  <a class="hero-title" href='http://www.johnmahowald.com'>John Mahowald</a>
  <h2 class="hero-role">Software Engineer</h2>
  
  <a href='#' data-stellar-ratio="1.5" data-link-target='#projects' class="enter">
</div>
