<div class='main-section' id="title" data-stellar-background-ratio="0.6">
  <div class="background"></div>
  <a class="hero-title" data-stellar-ratio="0.4" href='http://www.johnmahowald.com'>John Mahowald</a>
  <h2 class="hero-role" data-stellar-ratio="0.4">Software Engineer</h2>
  
  <a href='#' data-stellar-ratio="1.5" data-link-target='#projects' class="enter"></a>
</div>
