<section class='asteroids-game'>
  <main class='game-display'>
    <h1>Asteroids</h1>
    <div class='window-container'>
      <canvas id='game-canvas'></canvas>
      <div class='score game-data'>
        Score: <span id='score-count'>0</span>
      </div>
      <div class='lives game-data'>
        Lives: <span id='life-count'>3</span>
      </div>
    
      <div class='game-buttons active'>
      
        <a href="javascript:void(0)" class='play button'>Play</a>
        <a href="javascript:void(0)" class="instructions button">
          <span>Instructions</span>            
          <div class='instructions-container'>
            <div class='arrows-container clearfix'>
              <div class='arrows'>
                <%= image_tag('arrow.svg', id: 'up') %>
                <%= image_tag('arrow.svg', id: 'down') %>
                <span>Ship Thrusters</span>
              </div>
        
              <div class='arrows'>
                <%= image_tag('arrow.svg', id: 'left') %>
                <%= image_tag('arrow.svg', id: 'right') %>
                <span>Ship Direction</span>              
              </div>
            </div>
            <div class='shoot'>
              <div class='space-bar'>Space Bar</div>
              Fire Bullets!
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>
</section>
    
<script>
  var canvasEl = document.getElementById("game-canvas");
  canvasEl.height = window.innerHeight;
  canvasEl.width = window.innerWidth;
  var playButton = document.getElementsByClassName("play")[0]
  var gameButtons = document.getElementsByClassName("game-buttons")[0]
  
  playButton.onclick = function() {
    gameButtons.className = "game-buttons"
    new window.Asteroids.GameView(canvasEl).start();
  };
  
  var instructionButton = document.getElementsByClassName("instructions")[0]
  
  instructionButton.onclick = function() {
    instructionButton.classList.toggle('open')
  }
</script>