/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require asteroids
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-stack-1: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$main-grey: #3D3D3D;
$main-grey-hover: #808080;
$main-red: #AE6262;
$main-red-hover: #8B4E4E;
$button-blue: #428bca;

/* Main Styling */

body {
  font-family: $font-stack;
}

.no-link  {
  color: $main-grey;
  transition: all .5s;
}

.no-link:hover {
  text-decoration: none;
  color: $main-grey-hover;
  opacity: 1;
}

/* Landing Section */
.title-wrapper>h1 {
  text-align: center;
}

.title-wrapper>h1>a {
  font-family: $font-stack-1;
  font-size: 3em;
  color: $main-grey;
  opacity: .8;
  transition: all .6s;
  text-decoration: none;
}

.title-wrapper>h1>a:hover {
  opacity: .9;
}

.title-wrapper>h2 {
  font-size: 3em;
  color: $main-grey;
  opacity: .8;
  transition: all .3s;
  text-align: center;
}

.title-wrapper>h2:hover {
  opacity: 1;
}

.main-nav-down {
  text-align: center;
}

.main-nav-down a {
  color: $main-grey;
  transition: color .3s;
}

.main-nav-down a:hover {
  color: $main-grey-hover;
}
.main-nav-down a>img {
  width: 50px;
  opacity: .6;
  transition: all .7s;
}

.main-nav-down a>img:hover {
  opacity: 1;
}

#title {
  background-image: url('https://farm6.staticflickr.com/5535/11713436133_61f717d793_b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#title .fader {
  height: 100%;
  width: 100%;
  background: rgba(246,246,246,0.35);
  background: -moz-linear-gradient(top, rgba(246,246,246,0.35) 51%, rgba(246,246,246,0.35) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(51%, rgba(246,246,246,0.35)), color-stop(53%, rgba(246,246,246,0.35)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(246,246,246,0.35) 51%, rgba(246,246,246,0.35) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(246,246,246,0.35) 51%, rgba(246,246,246,0.35) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(246,246,246,0.35) 51%, rgba(246,246,246,0.35) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(246,246,246,0.35) 51%, rgba(246,246,246,0.35) 53%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0 );
}

/* Sidebar Styling */
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}

#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background-color: $main-grey;
}
#sidebar .nav {
  width: 95%;
}
#sidebar .nav>li {
  font-family: $font-stack;
}

#sidebar .nav>li>a {
  font-size: 1.7em;
  line-height: 1.2em;
  color: white;
  opacity: .8;
  transition: all .4s;
  transition: font-size .3s;
  border-radius: 3px;
}

#sidebar .nav>li>a:hover {
  background: linear-gradient(#808080, #5B5B5B);
}

#sidebar .nav>li>a.active {
  transition: all .4s;
  background: linear-gradient(#808080, #5B5B5B);  
}

#sidebar .sub-menu>li>a {
  margin-left: 20px;
  font-size: 1.3em;
  line-height: 1.4em;
}

#sidebar .sub-menu>li>a.active {
  margin-left: 24px;
  background: none;
  font-size: 1.4em;
  opacity: 1;
  font-weight: normal;
}

#sidebar .sub-menu>li>a.active:hover {
  background: linear-gradient(#808080, #5B5B5B);
}

#sidebar .sub-menu>li>a {
  list-style-image: url('/assets/star.svg');
}

#sidebar.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
}

.sidebar-icon {
  margin-right: 10px;
  height: 80px;
  width: 80px;
  opacity: .6;
  transition: opacity .6s;
  margin-bottom: 10px;
}

.sidebar-icon:first-child {
  margin-left: 35px;
}

.sidebar-icon:hover {
  opacity: .8;
}

.navbar-fixed-top {
  display: none;
}

#main-row {
  position: relative;
}

#main-content {
  float: right;
}

.profile-img-wrapper {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

.profile-img {
  height: 200px;
}

.sidebar-title {
  text-align: center;
  color: white;
  font-family: $font-stack;
  font-size: 2.5em;
  opacity: .8;
  margin-top: -10px;
  margin-bottom: 10px;
  font-variant: small-caps;
}

.sidebar-title .no-link {
  color: white;
}

.sidebar-navigation {
  overflow-y: auto;
  height: 60%;
  border-radius: 3px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #ddd;
  }
  #sidebar .nav>li>a>img {
    max-width: 14px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;  
  }
  #sidebar .nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  
  .navbar-fixed-top {
    display: block;
  }
}

/* Section Styling */

h1 {
  margin: 0;
}

.section-title>h1 {
	display: inline-block;
}

.skill-subtext {
	display: inline-block;
	margin: 0;
	margin-left: 35%;
	font-size: 1.2em;
	font-style: italic;
	color: white;
	opacity: .8;
	font-weight: normal;
}

.main-section {
  width: 100%;
  min-height: 500px;
}

.main-nav-wrapper {
  padding-top: 0;
}

.section-title {
  background-color: $main-grey;
  padding: 15px;
  margin: auto -15px;
  margin-bottom: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.section-title>h1 {
  font-size: 2em;
  color: white;
  opacity: .8;
  letter-spacing: 4px;
}

/* Projects */
.project-title>h1 {
  text-align: center;
  margin: 30px auto;
}

.section-card {
  position: relative;
  border: 1px solid #cacaca;
  border-radius: 3px;
  margin-bottom: 20px;
}

.section-card-header {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #cacaca;
  padding: 10px;
}

.section-card-header>h2 {
  margin: 0;
  font-size: 1.3em;
  text-align: center;
}

.section-card-body {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 100%;
  background-color: #F8F8F8;
}

.section-card-body.padded-body {
  padding: 10px;
  overflow-y: auto;
}

.section-card-body .description {
  font-style: italic;
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
}

.section-card-body .features>h3 {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em ;
  margin-bottom: 10px;
}

.section-card-body .features>ul {
  list-style-image: url('/assets/star.svg');
}

.section-card-body .features>ul>li {
  margin-bottom: 10px;
}

.project-preview {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 2px solid #DDDDDD;
}

.project-preview:hover {
  border-color: $main-grey-hover;
  box-shadow: 0 0 5px $main-grey-hover;
}

.section-card-footer {
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0;
  background-color: #cacaca;
  text-align: center;
  padding: 7px;
}

.section-card-footer>span {
  font-style: italic;
  font-size: 1em;
  padding-right: 18px;
  display: inline-block;
  padding-top: 5px;
}

.section-card-footer .my-btn {
  height: 100%;
  width: 50%;
  margin-right: 20px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  width: 40%;
  color: white;
  background-color: #428bca;
}

/* Skill Section */

.skills-list {
  font-size: 1.6em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.odd-skill {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

/* About */

.about-section {
  height: auto;
}

.about>.description {
  text-align: center;
  padding: 15px;
  font-size: 1.3em;
}

.about>.description>p>span {
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}

.about>.description>p>span>a {
  color: black;
  transition: all .5s;
}

.about>.description>p>span>a:hover {
  opacity: .7;
}

.about-tag {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.7em;
  text-align: center;
}

/* Contact */

.contact {
  margin: 20px auto;
  width: 33%;
  float: left;
  text-align: center;
}

.contact:nth-child(4) {
  margin-left: 16%;
}

.contact-image {
  width: 30%;
  margin: 0 auto;
}

.contact-image>img {
  width: 100%;
  opacity: .7;  
    transition: all .7s;
}

.contact-image>img:hover {
  opacity: 1;
}

.contact-info {
  font-size: 1.3em;
  margin-top: 15px;
}

.hover-wrapper {
  border-radius: 3px;
  padding: 5px;
}
